font-family: 'Poppins', sans-serif;
.footer{
    font-size: 0.85rem;
    padding: 20px 0;
    line-height: 1.6;
    background-color: black;
    font-family: 'Poppins', sans-serif;

}


.footer__text,
.footer__link,
.footer__title {
    padding: 3px 15px;
    display: block;
    font-family: 'Poppins', sans-serif;
    

}

.footer__hr{
    height: 1px;
    color: black;
}

.footer__sections{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.footer__title{
    font-weight: bold;
    margin-bottom: 10px;
}

.footer__link{
    text-decoration: none;
    color: dimgray;
}

.footer__link:hover{
    background-color: azure;
}
@media screen and(max-width:768px){
    .footer__sections{
        display: block;
        
    }
    .power_svg_container{
    display: block;
    
}
    
    
}
@media screen and(max-width:480px){
    .footer__sections{
        display: block;
        
    }
    .power_svg_container{
    display: block;

}
    
    
}
.contact__title{
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Poppins',sans-serif;
    font-size: 3vh;
}
.contact__text{
    font-family: 'Poppins',sans-serif;
    padding: 3px 15px;
    color : #808B96; 
}
.logo__container{
    display: inline-flex;
}
.logo__ig,
.logo__tw,
.logo__in,
.logo__fb,
.logo__git{
    padding: 0px 20px 0px 0px;
}

.contact__us{
    text-align: center;
    
}

.power{
    text-align: center;
}

.power__title{
    font-size: 3vh;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
.power__text{
    display:block;
    padding:3px 15px;
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
.dsc_logo_title_container{
    display: inline-flex;
}


.logo__dsc{
    padding-right: 5px;
    padding-left: 15px;
}

.power_svg_container{
    display: flex;

}
.bg__svg{
    text-align: center;
}


.footer p{
    font-weight: bold;
}