*{
	font-family: 'Raleway', sans-serif;
	margin : 0;
	padding : 0;
}

a{
	outline:none;
}

.logo{
	margin-left: 40px;
}

.navbar{
	background-color: white;
	height: 7vw;
}

.navbar.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-brand{
	padding-top: 2vw;
	font-size: 3vw;
}


.title{
	font-size: 4.5vw;
	padding-top: 90px;
}

.row{
	padding-top: 2vw;
	width: 100%;
}

.card{
	height:250px;
	width:250px;
	margin: 2vw;
	margin-left: 5vw;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5); 
}

.button{
	height: 4vw;
	width: 15vw;
	outline: none;
	background-color: black;
	color: white;
	border: 1px solid black;
	margin-left: 42%;
	font-size: 1.5vw;
}

@media only screen and (max-width: 1024px){
	.card{
		margin-left: 120px;
	}
	.title{
		font-size: 7vw;
	}
	.button{
		height: 10vw;
		width: 20vw;
		font-size: 2.5vw;
	}
}

.button:hover{
	color: white;
	outline: none;
}

.board{
	display: none;
}

