  
    .slide1{
        height:100vh;
        background-image:url("../Images_events/slide1.jpg");
        background-attachment:fixed;  
        background-size: cover;
        position:relative;

    }
    .slide1 h1{
        position: absolute;
        top:32vh;
        left:21vw;
        text-shadow: 10px 10px 30px black;
        font-size:10vw;
    }
    .img{
        background-position:center;
        background-size:cover;

    }

    .slide2{
        height:120vh;
        
        background-attachment:fixed;
        background-size: cover;
        position:relative;
        background-image:url(../Images_events/slide2.jpg);
    }
    .grid{
        position: relative;
        top:30vh;
        margin:auto;
        left:5vw;

    }
    .grid-unit{
        text-align:center;
        margin:2%;
        padding:1%;
        background-color:rgb(128, 128,128 );              
        color:whitesmoke;
        
    }

    .des{
        display:block;
        margin:1vw;
        font-size:20px;
               
    }
    .title{
                top:50vh;
                left:-2vw;
                transform:rotate(-90deg);
                position:absolute;
                color:rgb(255, 255, 255);
                text-shadow: 2px 3px 10px black; /* horizontal position | vertical position | blur radius |color */
                
                
            }
            .title h1{
                font-size: 4vw;
            }

    .slide3{
        height:120vh;
        
        background-attachment:fixed;
        background-size: cover;
        position:relative;
        background-image:url(../Images_events/slide3.jpg);
    }
	
	.myFooter{
	background-color: #ffffff;
	 height:30vh;
	}
	